/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.article {
    font-family: "Roboto", sans-serif;
    a {
        text-decoration: underline !important;
        color: #179af9 !important;
    }
    p {
        margin: 2rem 0;
    }
    figure {
        margin: 2rem auto;
        text-align: center;
        img {
            margin: 0 auto;
        }
        figcaption {
            padding: 0.6rem 0;
            background-color: #242323;
            font-size: 1rem;
        }
    }
    h2 {
        font-family: var(--chakra-fonts-heading);
        font-weight: var(--chakra-fontWeigths-bold);
        font-size: var(--chakra-fontSizes-5xl);
    }
}