/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.article {
    font-family: "Roboto", sans-serif;
    a {
        text-decoration: underline !important;
        color: #179af9 !important;
    }
    p {
        margin: 2rem 0;
    }
    figure {
        margin: 2rem auto;
        text-align: center;
        background-color: rgb(27, 24, 24);
        img {
            margin: 1rem auto;
        }
        figcaption {
            font-size: 1rem;
        }
    }
}