#container {
    height: 100vh;
}

.portfolio_page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page_title {
    margin-top: 2rem;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 2rem;
    padding: 0;
    gap: 1rem;
    @media (max-width: 1080px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.card {
    background-color: rgb(37, 37, 37);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 250px;
    &:hover {
        .image_card {
            filter: contrast(100%);
        }
    }
}

.image_card {
    object-fit: fill;
    filter: contrast(70%);
    overflow: hidden;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card_content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.card_title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card_text {
    flex: 1 1 auto;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.card_button {
    color: whitesmoke;
    padding: 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: #181616;
    transition: 0.5s;
    &:hover {
        color: #181616;
        background-color: whitesmoke;
    }
}