.container {
  height: 100vh;
  max-width: 1120px;
  margin: 3rem auto;

  h1 {
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2rem auto;
  gap: 1rem;
}

.card {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(rgb(49, 44, 44), 0.6);

  &:hover {
    transform: translateY(20px);
    &:before {
      opacity: 1;
    }
    .info {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: rgba(black, 0.8);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    object-fit: cover;
  }

  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;

    h1 {
      text-align: start;
      margin: 0px;
    }

    p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }

    button {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
      margin-top: 7px;
      &:hover {
        background: dodgerblue;
        color: white;
      }
    }
  }
}

@media screen {
  @media (max-width: 767px) {
    .card {
      max-width: 80%;
      height: auto;
      &:hover {
        transform: translateY(5px);
      }
    }
  }
}
